@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/** Geral **/
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

.hide {
  display: none;
}

.card-lucro {
  display: none !important;
}

.slide-headding {
  font-size: 100px;
  font-weight: 800;
  font-family: inherit;
  opacity: .5;
}

.mfp-wrap.mfp-close-btn-in.mfp-auto-cursor.mfp-ready {
  position: relative !important;
}

.text-default {
  color: #3b9baa;
}

.como-funciona .owl-dot, .blog .owl-dot, .como-funciona .owl-dot {
  width: 14px;
  height: 14px;
  background-color: #f1f1f1;
  display: inline-block;
  border-radius: 50%;
  margin: 5px;
}

.owl-dots {
  margin-top: 100px;
}

.owl-dot.active {
  background: #3b9baa !important;
}

.owl-controls {
  text-align: center;
}

.como-funciona .owl-carousel .nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.como-funciona .owl-carousel .owl-prev.disabled,
.como-funciona .owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.como-funciona .owl-carousel .prev-slide {
  background: url(../../assets/images/nav-icon.png) no-repeat scroll 0 0;
  left: -60px;
}

.como-funciona .owl-carousel .next-slide {
  background: url(../../assets/images/nav-icon.png) no-repeat scroll -24px 0px;
  right: -60px;
}

.como-funciona .owl-carousel .prev-slide:hover {
  background-position: 0px -53px;
}

.como-funciona .owl-carousel .next-slide:hover {
  background-position: -24px -53px;
}

.como-funciona .owl-dot {
  background-color: #ffa500;
  margin-bottom: 20px;
}

.como-funciona .owl-dots .owl-dot.active span {
  background: #869791;
  border-radius: 5px;
  width: 35px;
  height: 10px;
  border-color: #ff2c57;
  background: #ff2c57;
}

.option-service {
  width: 90%;
}

.option-service .grid-section {
  grid-column: 2 / 3;
  width: 100%;
  box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0 638px 1fr;
  grid-template-columns: 0 638px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
  width: 100%;
}

.option-service .options h2 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1rem;
  color: #3b9baa;
}

.option-service .options h4 {
  font-size: 16px;
}

.option-service .options p {
  line-height: 1.2;
  margin-bottom: 1rem;
}

.accordion__title {
  font-family: 'industry', sans-serif;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.125em;
}

.accordion__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion__item {
  border-bottom: 1px solid #000;
  visibility: hidden;
}

.accordion__item:last-child {
  border-bottom: 0;
}

.accordion__item.is-active .accordion__itemTitleWrap::after {
  -ms-transform: translateX(-20%);
  transform: translateX(-20%);
}

.accordion__item.is-active .accordion__itemIconWrap {
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion__itemTitleWrap {
  display: -ms-flexbox;
  display: flex;
  height: 2.5em;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 1em;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.accordion__itemTitleWrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: #3bade3;
  background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  z-index: 1;
  transition: transform .4s ease;
}

.accordion__itemTitleWrap.is-active::after, .accordion__itemTitleWrap:hover::after {
  -ms-transform: translateX(-20%);
  transform: translateX(-20%);
}

.accordion__itemIconWrap {
  width: 1.25em;
  height: 1.25em;
  margin-left: auto;
  position: relative;
  z-index: 10;
}

.accordion__itemTitle {
  margin: 0;
  font-family: 'industry', sans-serif;
  font-weight: 300;
  font-size: 1em;
  position: relative;
  z-index: 10;
}

.accordion__itemContent {
  font-size: 0.875em;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  padding: 0 1.25em;
}

.accordion__itemContent p {
  margin: 2em 0;
}

.itens-options::-webkit-scrollbar {
  width: 18px;
}

.itens-options::-webkit-scrollbar-thumb {
  background: #FB5;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.itens-options::-webkit-scrollbar-track {
  background: #faf6ed;
}

.itens-description {
  -ms-grid-column: 3;
  grid-column: 3;
}

.itens-description section {
  margin-bottom: 3rem;
  padding: 20px;
  min-width: 540px;
  min-height: 480px;
  border-radius: 8px;
}

.itens-description section ul {
  padding: 0;
}

.js [data-tab="content"] section {
  display: none;
}

[data-tab="content"] section.ativo {
  display: block !important;
  background: #f5f5f5;
}

[data-tab="content"] section.ativo.show-right {
  animation: show-right .5s forwards;
}

[data-tab="content"] section.ativo.show-down {
  animation: show-down .5s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js [data-anime="accordion"] dd {
  display: none;
}

[data-anime="accordion"] dt::after {
  content: '⬎';
  margin-left: 10px;
}

[data-anime="accordion"] dt.ativo::after {
  content: '⬏';
}

[data-anime="accordion"] dd.ativo {
  display: block;
  animation: slideDown .5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 200px;
    opacity: 1;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1;
}

ul li {
  list-style: none;
}

h1, h2 {
  color: #3b9baa;
}

h2 {
  margin-top: 0;
}

.ptb-80 {
  padding-bottom: 80px;
  padding-top: 80px;
}

.ptb-50 {
  padding-bottom: 50px;
  padding-top: 50px;
}

.ptb-30 {
  padding-bottom: 30px;
  padding-top: 30px;
}

/* Btn Btn-Primary*/
.btn {
  padding: 11px 20px;
  font-size: 16px;
  border-radius: 30px;
  transition: .4s;
}

.dropdown-submenu {
  position: relative;
}

nav #nav-click {
  margin: 0;
  transition: all 0.3s;
}

nav #nav-click i {
  display: none;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  padding: 0;
  list-style-type: none;
}

#nav-button {
  position: relative;
  transition: all 0.3s;
  z-index: 109;
}

#nav-button:hover, #nav-button:focus {
  border-color: #4A4040;
}

#nav-button:hover #nav-click, #nav-button:focus #nav-click {
  color: #4A4040;
}

.sub-nav {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -100%;
  left: -25%;
  width: 150%;
  transition: all 0.3s;
}

.sub-nav li {
  float: left;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}

.sub-nav li a {
  padding: 7px;
  display: block;
  font-size: 14px;
}

.show-nav {
  visibility: visible;
  opacity: 1;
  top: 100%;
  padding-top: 10px;
}

.ilustractive .btn-orange {
  background-color: #ffa500 !important;
  border: #ffa500 !important;
  color: #fff !important;
}

.ilustractive .btn-orange:hover {
  background: #fff !important;
  border: 1px solid #ffa500 !important;
  color: #ffa500 !important;
}

.content-tabs .btn-orange {
  background-color: #ffa500 !important;
  border: #ffa500 !important;
  color: #fff !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  margin-top: 107px;
}

.content-tabs .btn-orange:hover {
  background: #fff !important;
  border: 1px solid #ffa500 !important;
  color: #ffa500 !important;
}

.process .btn-orange {
  background-color: #ffa500 !important;
  border: #ffa500 !important;
  color: #fff !important;
}

.process .btn-orange:hover {
  background: #fff !important;
  border: 1px solid #ffa500 !important;
  color: #ffa500 !important;
}

.btn-primary {
  border-color: #3b9baa !important;
  background-color: #3b9baa;
}

.btn-primary:hover, .btn-primary:focus {
  color: #484747;
  background: transparent;
}

.btn-primary.disabled:hover, .btn-primary.disabled:focus {
  background-color: transparent !important;
  background-color: #fff;
}

.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #fff;
  border-color: #3b9baa;
}

.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #3b9baa;
  border-color: #3b9baa;
  opacity: 1;
}

/*
  ==============================
  Preloader CSS
  ==============================
  */
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 99999;
}

.preloader .folding-cube {
  left: 0;
  width: 60px;
  height: 60px;
  position: absolute;
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
  top: 50%;
  right: 0;
  margin: -60px auto 0;
}

.preloader .folding-cube .cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.preloader .folding-cube .cube::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3b9baa;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.preloader .folding-cube .cube2 {
  -ms-transform: scale(1.1) rotate(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.preloader .folding-cube .cube2::before {
  animation-delay: 0.3s;
}

.preloader .folding-cube .cube3 {
  -ms-transform: scale(1.1) rotate(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.preloader .folding-cube .cube3::before {
  animation-delay: 0.6s;
}

.preloader .folding-cube .cube4 {
  -ms-transform: scale(1.1) rotate(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.preloader .folding-cube .cube4::before {
  animation-delay: 0.9s;
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

/*
  ==============================
  Main Banner CSS
  ==============================
  */
.main-banner {
  height: 750px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.main-banner .creative-banner-one {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-width: 10rem 100vw 0 0;
  border-color: transparent #ffffff #ffffff transparent;
  border-style: solid;
}

.main-banner .creative-banner-two {
  position: relative;
  top: 100%;
  width: 100%;
  height: 0;
}

.main-banner .creative-banner-two::before {
  content: "";
  border-right: 50vw solid #ffffff;
  border-top: 160px solid transparent;
  bottom: 0;
  right: 0;
  position: absolute;
  height: 0;
  width: 0;
}

.main-banner .creative-banner-two::after {
  content: '';
  position: absolute;
  border-left: 50vw solid #ffffff;
  border-top: 160px solid transparent;
  bottom: 0;
  height: 0;
  left: 0;
  width: 0;
}

.main-banner .creative-banner-three {
  position: relative;
  top: 100%;
  width: 100%;
  height: 0;
}

.main-banner .creative-banner-three::before {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  background-image: url(../../assets/images/shape.png);
  height: 150px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-banner .d-table {
  width: 100%;
  height: 100%;
}

.main-banner .d-table-cell {
  vertical-align: middle;
}

.main-bg-faqs {
  height: 640px;
  position: relative;
}

.faqs-area-content {
  position: relative;
  top: -170px;
}

.faqs-area-content input[type=search] {
  width: 160px;
  box-sizing: border-box;
  border: 1px solid #3b9baa;
  border-radius: 30px;
  background-color: white;
  font-size: 16px;
  background-color: white;
  background-image: url(../../assets/images/searchicon.png);
  background-position: 15px 13px;
  background-repeat: no-repeat;
  padding: 15px 20px 12px 46px;
  transition: width 0.4s ease-in-out;
}

.faqs-area-content input[type=search]:focus {
  width: 100%;
}

.faqs-area-content .box-sugestoes-duvidas {
  background-color: #f7f7f7;
  padding: 19px 22px;
  margin: 13px 0px 0px 19px;
  width: 96% !important;
  border-radius: 8px;
  border: 1px dashed #ccc;
}

.item-bg-one {
  background-image: url(../../assets/images/main-bg-1.png);
}

.item-bg-two {
  background-image: url(../../assets/images/main-bg-2.png);
}

.item-bg-three {
  background-image: url(../../assets/images/main-bg-3.png);
}

.item-bg-four {
  background-image: url(../../assets/images/main-bg-4.png);
}

.item-bg-five {
  background-image: url(../../assets/images/main-bg-5.png);
}

.item-bg-six {
  background-image: url(../../assets/images/main-bg-6.png);
}

.item-bg-seven {
  background-image: url(../../assets/images/main-bg-7.png);
}

.item-bg-eight {
  background-image: url(../../assets/images/main-bg-8.png);
}

.item-bg-nine {
  background-image: url(../../assets/images/main-bg-9.png);
}

.item-bg-teen {
  background-image: url(../../assets/images/main-bg-10.png);
}

.item-bg-eleven {
  background-image: url(../../assets/images/main-bg-11.png);
}

.item-bg-twelve {
  background-image: url(../../assets/images/main-bg-12.png);
}

.item-bg-thirteen {
  background-image: url(../../assets/images/main-bg-13.png);
}

.item-bg-fourteen {
  background-image: url(../../assets/images/main-bg-14.png);
}

.item-bg-fifteen {
  background-image: url(../../assets/images/main-bg-15.png);
}

.item-bg-sixteen {
  background-image: url(../../assets/images/main-bg-16.png);
}

.item-bg-404 {
  background-image: url(../../assets/images/main-bg-404.png);
}

.item-bg-faqs {
  background: url(../../assets/images/banner-faqs.png) no-repeat center;
  background-repeat: no-repeat;
}

.main-banner-text {
  max-width: 664px;
}

.main-banner-text h4 {
  color: #fff;
  font-weight: 200;
  font-size: 24px;
  letter-spacing: 1px;
}

.main-banner-text h1 {
  font-size: 36px;
  margin-top: 25px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-weight: 600;
}

.main-banner-text h1 span {
  color: #484747;
  font-weight: 600;
  display: block;
}

.main-banner-text h1 .span_no_block {
  display: inline;
}

.main-banner-text .font_price_small {
  font-size: 40px;
}

.main-banner-text .price {
  color: #3b9baa;
  font-size: 50px;
}

.main-banner-text .tit_color_default {
  color: #3b9baa;
}

.main-banner-text .btn-links-internal {
  min-width: 260px;
  margin-left: 10px;
}

.main-banner-text p {
  color: #484747;
  max-width: 730px;
  margin-bottom: 30px;
  font-weight: 600;
}

.main-banner-text .btn:hover, .main-banner-text .btn:focus {
  border-color: #ffffff;
}

.main-banner-text .view-work {
  background: transparent;
  border-color: #fff;
  margin-left: 10px;
}

.main-banner-text .view-work:hover, .main-banner-text .view-work:focus {
  border-color: #3b9baa;
  background: #3b9baa;
  color: #ffffff;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.main-banner-text-internal .title_internal {
  font-size: 50px;
  margin-top: 25px;
  margin-bottom: 30px;
  font-weight: 600;
}

.main-banner-text-internal .title_internal span {
  color: #484747;
  font-weight: 600;
  display: block;
}

.main-banner-text-internal .title_internal .span_no_block {
  display: inline;
}

.main-banner-text-internal .font_price_small {
  font-size: 25px;
}

.main-banner-text-internal .price {
  color: #3b9baa;
  font-size: 50px;
  font-weight: 600;
}

.main-banner-text-internal .tit_color_default {
  color: #3b9baa;
}

.main-banner-text-internal .btn-links-internal {
  min-width: 260px;
  margin-left: 10px;
}

.main-banner-text-internal .list-internal-services {
  padding: 0;
  max-width: 610px;
}

.main-banner-text-internal .list-internal-services li {
  font-size: 15px;
  font-weight: 600;
  color: #484747;
}

.main-banner-text-internal .list-internal-services li i {
  color: #3b9baa;
  margin-right: 20px;
}

.main-banner-text-internal p {
  color: #484747;
  max-width: 368px;
}

.main-banner-text-internal .btn:hover, .main-banner-text-internal .btn:focus {
  border-color: #ffffff;
}

.main-banner-text-internal .view-work {
  background: transparent;
  border-color: #fff;
  margin-left: 10px;
}

.main-banner-text-internal .view-work:hover, .main-banner-text-internal .view-work:focus {
  border-color: #3b9baa;
  background: #3b9baa;
  color: #ffffff;
}

/* Section Title */
.section-title {
  margin-bottom: 60px;
  padding-left: 30px;
  position: relative;
}

.section-title::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  left: 10px;
  top: 0;
  background: #3b9baa;
  transition: .4s;
}

.section-title::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  left: 10px;
  top: 0;
  background: #3b9baa;
  transition: .4s;
  left: 0;
  height: 50%;
}

.section-title:hover::before {
  height: 50%;
}

.section-title:hover::after {
  height: 100%;
}

.section-title h2 {
  font-size: 35px;
  font-weight: 200;
  margin-bottom: 20px;
  font-weight: 600;
  display: inline-block;
  color: #3b9baa;
}

.section-title h2 span {
  color: #484747;
  font-weight: 400;
}

.section-title p {
  max-width: 690px;
  margin-top: -7px;
}

.section-title h4 {
  font-size: 18px;
  font-weight: 300;
  color: #3b9baa;
  margin-bottom: 17px;
  text-transform: capitalize;
}

/*
  ==============================
  Legal Area CSS
  ==============================
  */
.legal-items-area .container .section-title h2 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #3b9baa;
}

.legal-items-area .container .section-title span {
  color: #484747;
  font-weight: 400;
}

.legal-items-area .container .single-box {
  text-align: center;
  box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
  padding: 20px;
  position: relative;
  overflow: hidden;
  min-height: 374px;
  border-radius: 5px;
  transition: .4s;
}

.legal-items-area .container .single-box:hover path {
  fill: #fff;
}

.legal-items-area .container .single-box .icon-obligations {
  background: url(../../assets/images/icon-obligations.png) no-repeat center;
  height: 41px;
}

.legal-items-area .container .single-box .icon-taxes {
  background: url(../../assets/images/icon-taxes.png) no-repeat center;
  height: 29px;
}

.legal-items-area .container .single-box .icon {
  display: block;
  color: #3b9baa;
  font-size: 45px;
}

.legal-items-area .container .single-box h3 {
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
}

.legal-items-area .container .single-box a {
  position: absolute;
  right: -20px;
  bottom: -20px;
  width: 45px;
  height: 40px;
  line-height: 44px;
  text-align: center;
  box-shadow: 0px 0px 25px 0px rgba(0, 27, 103, 0.3);
  border-radius: 50% 0 0 0;
  opacity: 0;
  visibility: hidden;
}

.legal-items-area .container .single-box:hover a {
  background: #3b9baa;
  color: #fff;
  opacity: 1;
  visibility: visible;
  right: 0;
  bottom: 0;
}

/*
  ==============================
  Seviçes Included Area CSS
  ==============================
  */
.col-left .col-md-4, .col-right .col-md-4 {
  max-width: 100%;
  min-height: 155px;
  clear: both;
}

.services {
  max-width: 90% !important;
}

.services-included-area {
  background: #f6f6f6;
}

.services-included-area .container .col-left {
  width: 31%;
  float: left;
  clear: none;
  margin-right: 2%;
  text-align: right;
}

.services-included-area .container .col-left .service-area .media .media-body h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #3b9baa;
  display: inline-block;
}

.services-included-area .container .col-left .service-area .media .media-body p {
  color: #484747;
  font-size: 16px;
  font-weight: 300;
}

.services-included-area .container .col-left .service-area .media .media-body .span-min {
  color: #3b9baa;
  font-size: 12px;
  line-height: 18px;
}

.services-included-area .container .bg-services {
  width: 33.33%;
  height: 430px;
  float: left;
  clear: none;
  background: url(../../assets/images/screen.png) center center no-repeat;
  background-size: 100%;
}

.services-included-area .container .col-right {
  width: 31%;
  float: right;
  clear: none;
  text-align: left;
}

.services-included-area .container .col-right .service-area .media .media-body h2 {
  font-size: 20px;
  font-weight: 700;
  display: inline;
  color: #3b9baa;
}

.services-included-area .container .col-right .service-area .media .media-body p {
  color: #484747;
  font-size: 16px;
  font-weight: 300;
}

.services-included-area .container .col-right .service-area .media .media-body .span-min {
  color: #3b9baa;
  font-size: 12px;
  line-height: 18px;
}

/*
  ==============================
  Presentation Area CSS
  ==============================
  */
.presentation-area .container .section-title h2 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #3b9baa;
}

.presentation-area .container .section-title span {
  color: #484747;
  font-weight: 400;
}

.presentation-area .container .single-box {
  text-align: center;
  box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
  padding: 30px 20px;
  position: relative;
  overflow: hidden;
  min-height: 254px;
  border-radius: 5px;
  transition: .4s;
}

.presentation-area .container .single-box:hover path {
  fill: #fff;
}

.presentation-area .container .single-box:hover {
  box-shadow: unset;
  background-color: #3b9baa;
  color: #fff;
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

.presentation-area .container .single-box .icon-obligations {
  background: url(../../assets/images/icon-obligations.png) no-repeat center;
  height: 41px;
}

.presentation-area .container .single-box .icon-taxes {
  background: url(../../assets/images/icon-taxes.png) no-repeat center;
  height: 29px;
}

.presentation-area .container .single-box .icon {
  display: block;
  color: #3b9baa;
  font-size: 45px;
}

.presentation-area .container .single-box h3 {
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
}

.presentation-area .container .single-box a {
  position: absolute;
  right: -20px;
  bottom: -20px;
  width: 45px;
  height: 40px;
  line-height: 44px;
  text-align: center;
  box-shadow: 0px 0px 25px 0px rgba(0, 27, 103, 0.3);
  border-radius: 50% 0 0 0;
  opacity: 0;
  visibility: hidden;
}

.presentation-area .container .single-box:hover a {
  background: #3b9baa;
  color: #fff;
  opacity: 1;
  visibility: visible;
  right: 0;
  bottom: 0;
}

.presentation-area .container .single-box {
  text-align: center;
  box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
  padding: 30px 20px;
  position: relative;
  overflow: hidden;
  min-height: 254px;
  border-radius: 5px;
  transition: .4s;
}

.presentation-area .container .single-box:hover path {
  fill: #fff;
}

.presentation-area .container .single-box:hover {
  box-shadow: unset;
  background-color: #3b9baa;
  color: #fff;
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

.presentation-area .container .single-box .icon-obligations {
  background: url(../../assets/images/icon-obligations.png) no-repeat center;
  height: 41px;
}

.presentation-area .container .single-box .icon-taxes {
  background: url(../../assets/images/icon-taxes.png) no-repeat center;
  height: 29px;
}

.presentation-area .container .single-box .icon {
  display: block;
  color: #3b9baa;
  font-size: 45px;
}

.presentation-area .container .single-box h3 {
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
}

.presentation-area .container .single-box a {
  position: absolute;
  right: -20px;
  bottom: -20px;
  width: 45px;
  height: 40px;
  line-height: 44px;
  text-align: center;
  box-shadow: 0px 0px 25px 0px rgba(0, 27, 103, 0.3);
  border-radius: 50% 0 0 0;
  opacity: 0;
  visibility: hidden;
}

.presentation-area .container .single-box:hover a {
  background: #3b9baa;
  color: #fff;
  opacity: 1;
  visibility: visible;
  right: 0;
  bottom: 0;
}

/* Form Control */
.form-control {
  height: 45px;
  padding: 10px;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 0;
}

.form-control:focus {
  border-color: #ddd;
  outline: 0;
  box-shadow: none;
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

/*
  ==============================
  Who We Are Area CSS
  ==============================
  */
.who-we-are {
  padding-bottom: 50px;
}

.single-who-we-are {
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 20px 40px 0 rgba(28, 30, 35, 0.2);
  background: #fff;
  padding: 50px 30px;
  transition: all 0.5s ease-in-out 0s;
}

.single-who-we-are:hover {
  background: #3b9baa;
  color: #fff;
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

.single-who-we-are i {
  font-size: 50px;
  color: #3b9baa;
  transition: .4s;
}

.single-who-we-are:hover i {
  color: #fff;
}

.single-who-we-are h4 {
  margin-bottom: 20px;
  margin-top: 25px;
  font-size: 22px;
  font-weight: 500;
}

.single-who-we-are p {
  transition: .4s;
}

.single-who-we-are:hover p {
  color: #fff;
}

.single-who-we-are span {
  bottom: 0;
  color: rgba(0, 0, 0, 0.03);
  font-size: 200px;
  line-height: 180px;
  position: absolute;
  right: 0;
  transition: .4s;
}

.single-who-we-are:hover span {
  color: rgba(255, 255, 255, 0.2);
}

/*
  ==============================
  Attendance Area CSS
  ==============================
  */
.attendance {
  position: relative;
  height: auto;
}

.attendance .container-fluid .col-lg-6 {
  padding-left: 0;
  height: auto;
  overflow: hidden;
}

.attendance .container-fluid .col-lg-6 .image {
  background-image: url(../../assets/images/bg-attendance.jpg);
  position: absolute;
  left: 0;
  transition: all 0.5s ease;
  top: 0;
  width: 100%;
  min-height: 525px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.attendance .container-fluid .col-lg-6 .image:hover {
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.attendance .container-fluid .attendance-strategy {
  padding-left: 25px;
}

.attendance .container-fluid .attendance-strategy .section-title {
  padding-left: 0;
}

.attendance .container-fluid .attendance-strategy .section-title::before, .attendance .container-fluid .attendance-strategy .section-title::after {
  display: none;
}

.attendance .container-fluid .attendance-strategy ul {
  margin-bottom: 30px;
}

.attendance .container-fluid .attendance-strategy ul li {
  margin-bottom: 10px;
  font-weight: 300;
  color: #666;
}

.attendance .container-fluid .attendance-strategy ul li:last-child {
  margin-bottom: 0;
}

.attendance .container-fluid .attendance-strategy ul li i {
  color: #3b9baa;
  margin-right: 5px;
}

.attendance .container-fluid .attendance-strategy .attendance-call a {
  font-size: 20px;
  color: #fff;
}

.attendance .container-fluid .attendance-strategy .attendance-call a:hover {
  background: transparent;
  color: #3b9baa !important;
  border: 1px solid #3b9baa;
}

/*
  ==============================
  CTR Area CSS
  ==============================
  */
.ctr-area {
  text-align: center;
  background-image: url(../../assets/images/ctr-bg.jpg);
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ctr-area::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .88;
}

.ctr-area .section-title {
  padding-left: 0;
}

.ctr-area .section-title::before, .ctr-area .section-title::after {
  display: none;
}

.ctr-area .section-title h2 {
  color: #fff;
  margin-top: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.ctr-area .section-title p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  color: #fff;
}

.ctr-area .view-work {
  background: transparent;
  border-color: #fff;
  margin-left: 10px;
}

.ctr-area .btn:hover, .ctr-area .btn:focus {
  border-color: #fff;
}

.ctr-area .view-work:hover, .ctr-area .view-work:focus {
  border-color: #3b9baa;
  background: #3b9baa;
  color: #fff;
}

.ctr-area .btn-primary:not(:disabled):not(.disabled) {
  background: none !important;
  border: none !important;
}

.ctr-area .btn-primary:not(:disabled):not(.disabled):active {
  background: none !important;
  border: none !important;
}

.ctr-area .show > .btn-primary.dropdown-toggle {
  color: #3b9baa;
  background-color: #fff;
  border-color: #fff;
}

/*
  ==============================
  Options Area CSS
  ==============================
  */
.option-area .itens-options {
  padding: 0;
  height: 100%;
  -ms-grid-column: 2;
  grid-column: 2;
}

.option-area .itens-options li {
  position: relative;
  cursor: pointer;
  padding: 28px;
  font-size: 14px;
}

.option-area .itens-options li:after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #f5f5f5;
  width: 100%;
  left: 0;
  bottom: -5px;
  max-width: 426px;
  margin-left: 50px;
}

.option-area .itens-options li a {
  color: #000000;
  text-decoration: none;
}

.option-area .itens-options li i {
  margin-right: 20px;
  color: #3b9baa;
}

.option-area .itens-options li:hover {
  background: #3b9baa;
  border-radius: 8px;
  color: #fff;
}

.option-area .itens-options li:hover i {
  color: #fff;
}

.option-area .itens-options li.ativo {
  background: #3b9baa;
  color: #fff;
  border-radius: 8px;
}

.option-area .itens-options li.ativo i {
  color: #fff;
}

.option-area .content .card-body .rowText h3 {
  color: #3b9baa;
  font-size: 18px;
}

.option-area .content {
  position: relative;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
    opacity: 0;
  }
}

/* Section Ilustrative */
.ilustractive .section-title h2 {
  color: #3b9baa;
  font-weight: 600;
}

.ilustractive img {
  margin-bottom: 90px;
}

.ilustractive a {
  text-align: center;
}

.ilustractive a:hover {
  color: #fff;
}

.ilustractive .section-title span {
  color: #484747;
  font-weight: 400;
}

.ilustractive .seta-lateral {
  position: absolute;
  top: 84px;
  right: 0px;
  z-index: 99;
  display: block;
  max-width: 50px;
}

/* Section Como funciona */
.como-funciona {
  width: 100%;
}

.como-funciona .about-slider .aboutus-screen-slide {
  position: absolute;
  width: 468px;
  top: 0px;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-61%);
  margin-top: 103px;
  z-index: 250;
}

.como-funciona .about-slider .aboutus-screen-slide .item {
  position: relative;
}

.como-funciona .about-slider .aboutus-screen-slide .item img {
  min-height: 281px;
}

.como-funciona .about-slider .aboutus-screen-slide .item h4 {
  margin-bottom: 24px;
}

.como-funciona .about-slider .aboutus-screen-slide .item i {
  margin-right: 10px;
}

.como-funciona .owl-dots.active {
  background-color: #3b9baa;
}

/*
  ==============================
  Fun Facts Area CSS
  ==============================
  */
.funFacts-area {
  background-image: url(../../assets/images/funfact-bg.jpg);
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.funFacts-area::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .77;
}

.funFact {
  position: relative;
  padding-left: 65px;
}

.funFact i {
  font-size: 50px;
  color: #3b9baa;
  position: absolute;
  left: 0;
  top: 2px;
}

.funFact .fa.fa-users {
  left: -10px;
}

.funFact h2 {
  color: #fff;
  margin-bottom: 5px;
  font-size: 45px;
  font-weight: 600;
}

.funFact p {
  color: #fff;
  font-size: 18px;
}

/*
  ==============================
  Team Area CSS
  ==============================
  */
.our-team {
  text-align: center;
  position: relative;
}

.team-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 92%;
  background: #fff;
  margin-left: 15px;
  padding-top: 20px;
  z-index: 1;
  transition: .4s;
}

.our-team:hover .team-content {
  bottom: 34%;
  background: transparent;
}

.team-content .title {
  font-size: 20px;
  margin-bottom: 6px;
  font-weight: 600;
  transition: .4s;
}

.our-team:hover .team-content .title {
  color: #fff;
}

.team-content .post {
  color: #666;
  transition: .4s;
}

.our-team:hover .team-content .post {
  color: #fff;
}

.our-team .social {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.3) 80%);
  transition: .4s;
  opacity: 0;
  visibility: hidden;
}

.our-team:hover .social {
  opacity: 1;
  visibility: visible;
}

.our-team .social ul {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -50px;
  -ms-transform: translateY(-35px);
  transform: translateY(-35px);
  transition: .4s;
}

.our-team:hover .social ul {
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.our-team .social ul li {
  display: inline-block;
}

.our-team .social ul li a {
  width: 35px;
  height: 35px;
  line-height: 32px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
}

.our-team .social ul li a:hover {
  border-color: #3b9baa;
  background: #3b9baa;
}

/*
  ==============================
  How We Work CSS
  ==============================
  */
.how-work {
  background-image: url(../../assets/img/dott.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
}

.single-how-work {
  box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
  background: #fff;
  padding: 35px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out 0s;
}

.single-how-work:hover {
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

.single-how-work h3 {
  color: #3b9baa;
  font-size: 45px;
  font-weight: 700;
}

.single-how-work h4 {
  margin-top: 25px;
  margin-bottom: 18px;
  font-size: 22px;
}

/*
  ==============================
  Services Area CSS
  ==============================
  */
.services-area {
  padding-bottom: 50px;
}

.single-services {
  margin-bottom: 30px;
  box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
  text-align: center;
  position: relative;
  transition: .4s;
}

.single-services:hover {
  box-shadow: unset;
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

.single-services::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  border-left: 2px solid #3b9baa;
  height: 50px;
  border-bottom: 2px solid #3b9baa;
  opacity: 0;
  transition: .4s;
}

.single-services:hover::before {
  opacity: 1;
  width: 100%;
  height: 50%;
}

.services-img {
  position: relative;
}

.services-img::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .66;
}

.services-img .icon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -30px;
}

.single-services i {
  width: 70px;
  height: 70px;
  line-height: 71px;
  border: 1px solid #fff;
  font-size: 30px;
  color: #fff;
  border-radius: 50%;
  transition: .4s;
}

.single-services:hover i {
  background: #fff;
  color: #3b9baa;
}

.services-content {
  padding: 30px 25px;
  position: relative;
}

.single-services h3 {
  font-size: 22px;
  margin-bottom: 18px;
  font-weight: 500;
}

.services-area .single-box {
  margin-bottom: 30px;
}

/*
  ==============================
  Tabs
  ==============================
  */
.content-tabs .tabset > input[type="radio"], .content-tabs .tabset .tab-panel {
  display: none;
}

.content-tabs .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child, .content-tabs .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2), .content-tabs .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3), .content-tabs .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4), .content-tabs .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5), .content-tabs .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.content-tabs .tabset > label {
  position: relative;
  display: inline-block;
  padding: 10px 32px;
  margin-right: 6px;
  cursor: pointer;
  background: transparent;
  transition: background ease 0.2s;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 0;
  font-size: 18px;
}

.content-tabs .tabset > input:checked + label {
  border-color: #3b9baa;
  background: #3b9baa;
  color: #fff;
}

.content-tabs .tab-panels select {
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: transparent;
  padding: 15px 30px;
  width: 100%;
  max-width: 456px;
  margin: 10px 0;
  font-size: 18px;
  height: 57px;
}

.content-tabs .tab-panels .box-calculation {
  border: 1px solid #b9b9b9;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  max-width: 330px;
  margin-top: 20px;
  padding: 15px 20px;
  min-height: 222px;
  transition: .4s;
}

.content-tabs .tab-panels .box-calculation h4 {
  color: #3b9baa;
  border-bottom: 1px solid #b9b9b9;
  margin-bottom: 15px;
}

.content-tabs .tab-panel {
  margin-top: 35px;
}

.content-tabs .columns-services-tabs h4 {
  font-size: 35px;
  font-weight: 200;
  margin-bottom: 20px;
}

.content-tabs .columns-services-tabs p {
  max-width: 635px;
  margin-top: -7px;
}

.content-tabs .columns-services-tabs ul {
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 0;
}

.content-tabs .columns-services-tabs ul li {
  margin-bottom: 10px;
  font-weight: 300;
  color: #000;
}

.content-tabs .columns-services-tabs ul li:last-child {
  margin-bottom: 0;
}

.content-tabs .columns-services-tabs ul li i {
  color: #3b9baa;
  margin-right: 5px;
}

.content-tabs .columns-services-tabs ul p {
  color: #666;
}

/*
  ==============================
  Options Include
  ==============================
  */
.options-include .section-title h2 {
  color: #3b9baa;
}

.options-include .section-title h2 span {
  color: #484747;
  font-weight: 400;
}

.options-include ul li {
  line-height: 30px;
}

.options-include ul li i {
  margin-right: 15px;
  color: #3b9baa;
}

/*
  ==============================
  Process CSS
  ==============================
  */
.process {
  background: #f4f4f4;
  margin: 0 auto;
  text-align: center;
}

.process img {
  margin-bottom: 90px;
}

/*
  ==============================
  FAQ Area CSS
  ==============================
  */
.faq-area {
  background: #f1f1f1;
}

.faq-area .image {
  background-image: url(../../assets/images/ilustrativa.jpg);
  position: absolute;
  left: 15px;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.card {
  background-color: transparent;
  border-radius: 10px !important;
  margin-bottom: 6px;
  border: none;
  box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
}

.card-header {
  padding: 0;
  margin-bottom: 0;
  border: none;
  background: transparent;
}

.card-header a {
  display: block;
  text-decoration: none;
}

.card-header a:hover {
  background: #3b9baa;
}

.card-header a h5 {
  font-size: 17px;
  overflow: hidden;
  padding: 20px;
  color: #fff;
  line-height: 16px;
  background: #3b9baa;
}

.card-header a.collapsed h5 {
  color: #000;
  background: transparent;
  transition: .4s;
}

.card-header a.collapsed h5:hover {
  color: #fff;
}

.card-header i {
  float: right;
  font-size: 16px;
}

.card-header a.collapsed .fa.fa-angle-up::before {
  content: "\f106";
}

.card-header a .fa.fa-angle-up::before {
  content: "\f107";
}

.card-body {
  line-height: 1.9;
  background: #f5f5f5;
  color: #666;
}

/*
  ==============================
  FAQ Area Internal CSS
  ==============================
  */
.faq-area-internal {
  background: #f1f1f1;
}

.faq-area-internal .image {
  background-image: url(../../assets/images/img-question.jpg);
  position: absolute;
  left: 15px;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.card {
  background-color: transparent;
  border-radius: 10px !important;
  margin-bottom: 6px;
  border: none;
  box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
}

.card-header {
  padding: 0;
  margin-bottom: 0;
  border: none;
  background: transparent;
}

.card-header a {
  display: block;
  text-decoration: none;
}

.card-header a:hover {
  background: #3b9baa;
}

.card-header a h5 {
  font-size: 17px;
  overflow: hidden;
  padding: 20px;
  color: #fff;
  line-height: 16px;
  background: #3b9baa;
}

.card-header a.collapsed h5 {
  color: #000;
  background: transparent;
  transition: .4s;
}

.card-header a.collapsed h5:hover {
  color: #fff;
}

.card-header i {
  float: right;
  font-size: 16px;
}

.card-header a.collapsed .fa.fa-angle-up::before {
  content: "\f106";
}

.card-header a .fa.fa-angle-up::before {
  content: "\f107";
}

/*
  ==============================
  Testimonials Area CSS
  ==============================
  */
.testimonials-area {
  padding-bottom: 0px;
}

.single-feedback {
  box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  min-height: 350px;
  position: relative;
  transition: all 0.5s ease-in-out 0s;
}

.single-feedback:hover {
  -ms-transform: translateX(5px);
  transform: translateX(5px);
  background: #3b9baa;
}

.single-feedback .client-info {
  overflow: hidden;
  margin-bottom: 30px;
}

.single-feedback .client-pic {
  float: left;
  width: 30%;
}

.single-feedback .client-pic img {
  border-radius: 50%;
}

.single-feedback .client-title {
  float: left;
  width: 70%;
  padding-left: 20px;
  margin-top: 17px;
}

.single-feedback .client-title h4 {
  font-size: 19px;
  font-weight: 500;
  color: #3b9baa;
  transition: .4s;
}

.single-feedback:hover .client-title h4 {
  color: #fff;
}

.single-feedback .client-title h5 {
  font-size: 15px;
  color: #3b9baa;
  margin-top: 13px;
  transition: .4s;
}

.single-feedback:hover .client-title h5 {
  color: #fff;
}

.single-feedback p {
  transition: .4s;
  color: #3b9baa;
}

.single-feedback:hover p {
  color: #fff;
}

.single-feedback span {
  font-size: 175px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.03);
  line-height: 0;
}

.single-feedback:hover span {
  color: rgba(255, 255, 255, 0.2);
}

/*
  ==============================
  Partner Area CSS
  ==============================
  */
.partner-area {
  text-align: center;
}

.partner-area .owl-carousel .owl-item img {
  width: 140px;
}

/*
  ==============================
  Subscribe Area CSS
  ==============================
  */
.subscribe-area {
  background: #deeef1;
  text-align: center;
}

.newsletter {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding: 35px;
  border-radius: 5px;
}

.newsletter h4 {
  margin-bottom: 30px;
  font-size: 25px;
  color: #646464;
}

.newsletter h4 span {
  color: #3b9baa;
  font-weight: 600;
}

.newsletter form {
  position: relative;
}

.newsletter form .form-control {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border: none;
  height: 75px;
  border-radius: 50px;
  padding-left: 20px;
  font-size: 17px;
}

.newsletter form .btn {
  position: absolute;
  right: 7px;
  top: 8px;
  height: 48;
  width: 48;
  border-radius: 50%;
}

.newsletter form .btn:hover {
  background: #3b9baa !important;
}

.newsletter form .btn:after {
  background: url(../../assets/images/send-button.png) no-repeat center;
  background-size: 20px;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  padding: 24px;
  margin-left: 3px;
}

/*
  ==============================
  Contact Area CSS
  ==============================
  */
#map {
  width: 100%;
  height: 400px;
}

.contact-info {
  box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
  background: #fff;
  padding: 30px;
  border-top: 3px solid #3b9baa;
  border-bottom: 3px solid #3b9baa;
}

.contact-info ul li {
  position: relative;
  padding-left: 60px;
  font-size: 16px;
  margin-bottom: 34px;
  color: #151515;
}

.contact-info ul li:last-child {
  margin-bottom: 0;
}

.contact-info ul li i {
  position: absolute;
  left: 0;
  top: -11px;
  color: #3b9baa;
  font-size: 19px;
  background: #f6f6f6;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
}

.contact-info .follow-us {
  text-align: right;
  margin-top: 40px;
}

.contact-info .follow-us li {
  padding-left: 0;
  display: inline-block;
  margin-bottom: 0;
}

.contact-info .follow-us li:first-child {
  font-size: 18px;
  font-weight: 400;
  margin-right: 5px;
}

.contact-info .follow-us li a {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border: 1px solid #000;
  border-radius: 50%;
}

.contact-info .follow-us li a:hover, .contact-info .follow-us li a:focus {
  background: #3b9baa;
  color: #fff;
  border-color: #3b9baa;
}

.contact-form {
  box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
  padding: 40px 30px;
  border-top: 3px solid #3b9baa;
  border-bottom: 3px solid #3b9baa;
  background: #fff;
}

.contact-form h4 {
  color: #3b9baa;
  margin-bottom: 25px;
  font-size: 22px;
}

.list-unstyled li {
  color: #d9534f;
}

.contact-form .form-control {
  border-radius: 30px;
}

.contact-form .btn {
  margin-top: 20px;
}

#message {
  height: auto;
  padding: 15px;
}

/*
  ==============================
  Page Title CSS
  ==============================
  */
.page-title {
  height: 550px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
}

.page-title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
}

.page-title h1 {
  margin-bottom: 35px;
  color: #fff;
  font-size: 45px;
  font-weight: 600;
  margin-top: 65px;
}

.page-title ul li {
  display: inline-block;
  margin: 0 3px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

.page-title ul li.active {
  color: #ccc;
}

.page-title ul li a {
  color: #fff;
}

.page-title ul li a:hover {
  color: #3b9baa;
}

/*
  ==============================
  Blog Details Area CSS
  ==============================
  */
.blog-details-area {
  background-image: url(../../assets/img/pattern.png);
  background-attachment: fixed;
}

.blog-details {
  box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
  background: #fff;
}

.blog-details .article-img {
  position: relative;
}

.blog-details .article-img .date {
  position: absolute;
  bottom: 15px;
  width: 100px;
  left: 15px;
  height: 100px;
  text-align: center;
  font-size: 25px;
  background: #3b9baa;
  color: #fff;
  border-radius: 5px;
  padding-top: 19px;
  line-height: 32px;
  font-style: italic;
}

.blog-details .article-text {
  padding: 30px;
}

.blog-details .article-text ul li {
  display: inline-block;
}

.blog-details .article-text .category a {
  background: #3b9baa;
  color: #fff;
  padding: 3px 15px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 400;
}

.blog-details-area .title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 27px;
}

.blog-details .article-text p {
  margin-bottom: 20px;
}

.blog-details .blockquote {
  margin-bottom: 25px;
  background: #f4f4f4;
  padding: 30px;
  margin-top: 25px;
  font-size: 17px;
  border-left: 4px solid #3b9baa;
}

.blog-details .blockquote p {
  color: #000;
}

.blog-details .author-share {
  margin-top: 40px;
}

.blog-details .article-author {
  overflow: hidden;
}

.blog-details .article-author .author-img {
  float: left;
  width: 27%;
}

.blog-details .article-author .author-img img {
  border-radius: 50%;
}

.blog-details .article-author .author-title {
  float: left;
  width: 73%;
  padding-left: 25px;
  margin-top: 17px;
}

.blog-details .article-author .author-title h4 {
  font-size: 20px;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.blog-details .article-author .author-title span {
  color: #666;
  font-size: 15px;
}

.blog-details .author-share .social-share {
  text-align: right;
  margin-top: 28px;
}

.blog-details .author-share .social-share a {
  background: #3b9baa;
  color: #fff;
  width: 35px;
  display: inline-block;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
}

.post-controls-buttons {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 70px;
  padding-right: 70px;
}

.post-controls-buttons div {
  display: inline-block;
}

.post-controls-buttons .controls-right {
  float: right;
}

.post-controls-buttons div a {
  background: linear-gradient(-45deg, #4e54c8, #8089ff);
  box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
  box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
  padding: 10px 20px;
  border-radius: 5px;
  background: #fff;
  color: #3b9baa;
}

.post-controls-buttons div a:hover {
  background: #3b9baa;
  color: #fff;
}

.single-comment {
  box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
  padding: 25px;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
  background: #fff;
}

.single-comment.left-m {
  margin-left: 30px;
}

.single-comment .comment-img {
  float: left;
  width: 13%;
}

.single-comment .comment-img img {
  border-radius: 50%;
}

.single-comment .comment-content {
  float: left;
  width: 87%;
  padding-left: 25px;
}

.single-comment .comment-content h4 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.single-comment .comment-content p {
  margin-bottom: 15px;
}

.single-comment .comment-content a {
  position: absolute;
  right: 25px;
  bottom: 25px;
  color: #3b9baa;
  text-transform: uppercase;
  font-size: 17px;
}

.leave-a-reply {
  box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
  padding: 25px;
  background: #fff;
  margin-top: 50px;
}

.leave-a-reply .btn {
  margin-top: 20px;
}

/*
  ==============================
  Main Header CSS
  ==============================
  */
.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  width: 100%;
}

.site-navbar.transparent {
  background: transparent;
}

.site-navbar.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.site-navbar .site-logo {
  position: relative;
  top: 0px;
}

.site-navbar .site-menu-toggle {
  color: #000;
}

.site-navbar .site-navigation {
  margin-top: 17px;
  margin-top: 30px;
}

.site-navbar .site-navigation.border-bottom {
  border-bottom: 1px solid white !important;
}

.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active {
  font-weight: 600;
}

.site-navbar .site-navigation .site-menu .active > a {
  color: #3b9baa;
  font-weight: 600;
}

.site-navbar .site-navigation .site-menu a.active {
  color: #3b9baa;
}

.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  font-size: 16px;
}

.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}

.site-navbar .site-navigation .site-menu > li > a {
  color: #484747;
  text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu > li > a:hover {
  color: #fff;
  background: rgba(30, 30, 30, 0.97);
}

.site-navbar .site-navigation .site-menu .lastchildareaCustomer {
  padding-right: 0;
  min-width: 190px;
}

.site-navbar .site-navigation .site-menu .lastchildareaCustomer .areaCustomer {
  color: #fff !important;
  font-weight: 600;
  display: inline-block;
  background: #3b9baa;
  border-color: #3b9baa;
  margin-bottom: 8px;
}

.site-navbar .site-navigation .site-menu .lastchildareaCustomer .areaCustomer:hover {
  background: 0 0;
  border-color: #3b9baa;
  color: #484747 !important;
  font-weight: 600;
}

.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}

.site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  background: #070d1b;
  width: 100%;
  position: fixed;
  top: auto;
  transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  transition: 0s all;
  color: #484747;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
  color: #3b9baa;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
  color: #3b9baa !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  display: inline-block;
  width: 33%;
  padding-left: 90px;
  -ms-flex-align: center;
  align-items: center;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  display: block;
  width: 100%;
  height: auto !important;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 11px 15px;
  font-size: 21px;
  text-align: left;
  text-transform: none;
  border-left: none;
  border-right: none;
  letter-spacing: 0;
  color: #fff;
  cursor: pointer;
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  color: #3b9baa;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li img {
  position: absolute;
  left: -76px;
  float: left;
  vertical-align: top;
  width: 60px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li .description {
  white-space: normal;
  font-size: 12px;
  margin-top: 10px;
  width: 80%;
  color: #fff;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
  content: "\e315";
  right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
  left: 100%;
  top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
  background: #070d1b !important;
  color: #fff;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li:hover .nav-link {
  margin-left: 15px;
  background: rgba(255, 255, 255, 0.09) !important;
}

.site-navbar .site-navigation .site-menu .has-children .mn-has-multi {
  width: auto !important;
  padding: 15px;
  text-align: left;
}

.site-navbar .site-navigation .site-menu .has-children .mn-sub {
  left: 0;
  background: rgba(30, 30, 30, 0.97);
}

.site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-navbar.scrolled {
  background-color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  margin-top: -130px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}

.site-navbar.scrolled.awake {
  margin-top: 0px;
  transition: .3s all ease-out;
}

.site-navbar.scrolled.sleep {
  transition: .3s all ease-out;
}

.site-navbar.scrolled .site-menu-toggle {
  color: #000;
}

.site-navbar.scrolled .site-navigation .site-menu li a.active {
  color: #3b9baa;
}

.site-navbar.scrolled .site-logo {
  top: -4px;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 9000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #484747;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #484747;
}

.site-mobile-menu .site-nav-wrap a:hover {
  color: #3b9baa;
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.site-mobile-menu .site-nav-wrap li.active > a {
  color: #3b9baa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  background: url(../../assets/images/arrow-down-sign-to-navigate.png) center no-repeat;
  z-index: 20;
  height: 100%;
  content: "";
  position: absolute;
  top: 50%;
  left: 90%;
  width: 15%;
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}

.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] > li {
  width: auto;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
  padding-left: 15px !important;
}

@media only screen and (max-width: 767px) {
  .site-mobile-menu .site-mobile-menu-body .site-nav-wrap .lastchildareaCustomer .areaCustomer {
    margin-bottom: 16px;
  }
  .site-mobile-menu .site-mobile-menu-body .site-nav-wrap .lastchildareaCustomer .areaCustomer:hover, .site-mobile-menu .site-mobile-menu-body .site-nav-wrap .lastchildareaCustomer .areaCustomer:focus {
    color: #484747 !important;
    background: transparent;
  }
  .site-mobile-menu .site-mobile-menu-body .site-nav-wrap .btn-fixed a {
    color: #fff;
  }
  .site-mobile-menu .site-mobile-menu-body .site-nav-wrap li img {
    display: none;
  }
  .site-mobile-menu .site-mobile-menu-body .site-nav-wrap li .description {
    display: none;
  }
  .site-navbar .site-logo {
    top: 70px;
  }
  .site-navbar .site-logo h1 a .logo-none {
    display: none;
  }
  .site-navbar .site-logo h1 a .logo-block {
    display: block;
  }
  .site-navbar .btn-fixed {
    color: #fff;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    transition: all .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 20px;
  }
  .site-navbar.scrolled {
    margin-top: 0 !important;
  }
  .site-navbar.scrolled h1 {
    top: 0;
  }
  .site-navbar.scrolled .logo-none {
    display: block !important;
  }
  .site-navbar.scrolled .logo-block {
    display: none !important;
  }
  .site-navbar .fixed-top {
    z-index: auto !important;
  }
  .no-padding-bottom-mobile {
    padding-bottom: 0 !important;
  }
  .no-padding-top-mobile {
    padding-top: 0 !important;
  }
  .ptb-80 {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .slide-headding {
    display: none;
  }
  .about-slider .owl-dots {
    margin-top: 50px;
  }
  .about-slide-text {
    margin-top: 50px;
  }
  .owl-theme .owl-nav [class*="owl-"] {
    top: auto;
    bottom: 0;
    left: 0;
  }
  .owl-theme .owl-nav .owl-next {
    left: auto;
    right: 0;
  }
  .section-title h2 {
    font-size: 26px;
  }
  .section-title h4 {
    font-size: 18px;
  }
  .section-title p {
    font-size: 15px;
  }
  .main-banner {
    height: 100%;
    min-height: 600px;
    background-position: 0 0;
    background-size: initial !important;
  }
  .main-banner .creative-banner-one {
    border-width: 5rem 100vw 0 0;
  }
  .main-banner .creative-banner-two::before, .main-banner .creative-banner-two::after {
    border-top: 0 solid transparent;
  }
  .main-banner .creative-banner-three::before {
    height: 40px;
    background-size: cover;
    bottom: 0;
  }
  .main-banner .main-banner-text {
    margin-top: 157px;
  }
  .main-banner .main-banner-text p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .main-banner .main-banner-text-internal h1.title_internal {
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 170px;
  }
  .main-banner .main-banner-text-internal p {
    margin-bottom: 0;
  }
  .main-banner .main-banner-text-internal .price {
    font-size: 30px;
  }
  .main-banner .main-banner-text-internal .font_price_small {
    font-size: 30px;
  }
  .main-banner .main-banner-text-internal .btn-links-internal {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .main-banner .main-banner-text h4 {
    font-size: 22px;
    letter-spacing: 0;
  }
  .main-banner .main-banner-text h1 {
    font-size: 30px;
    letter-spacing: 0;
  }
  .main-banner .main-banner-text a {
    color: #fff;
    border-color: #3b9baa;
    background: #3b9baa;
  }
  .main-banner .main-banner-text .btn {
    padding: 9px 20px !important;
    width: 100%;
    margin-bottom: 10px;
  }
  .main-banner .title-internal {
    display: inline-block;
  }
  .main-banner .no-margin {
    margin-top: -40px;
  }
  .presentation-area .single-box {
    margin-top: 20px;
  }
  .main-banner::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .30;
  }
  .price-area .pricingTable::after {
    width: 100% !important;
  }
  .price-area .pricingTable {
    min-height: initial !important;
  }
  .price-area .pricingTable::after {
    top: 108px !important;
  }
  .option-area .itens-options {
    height: auto !important;
  }
  .option-area .itens-description section {
    min-width: 100% !important;
    min-height: initial !important;
  }
  .accounting-area {
    padding-left: 15px;
    padding-right: 15px;
  }
  .accounting-area .container .q_image_with_text_over {
    position: relative !important;
  }
  .accounting-area .container .q_image_with_text_over .position_relative {
    display: none;
  }
  .accounting-area .container .q_image_with_text_over .position_relative span {
    display: none;
  }
  .accounting-area .container .q_image_with_text_over:after {
    opacity: 1 !important;
  }
  .accounting-area .container .accounting-video {
    height: auto !important;
  }
  .accounting-area .container .accounting-video .video-btn {
    top: 36% !important;
  }
  .attendance .container-fluid .col-lg-6 .overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .70;
    z-index: 250;
  }
  .attendance .container-fluid .col-lg-6 .image {
    position: relative !important;
    display: none;
    min-height: 380px !important;
    background-position: center right !important;
  }
  .attendance .container-fluid .col-lg-6 .attendance-call {
    text-align: center;
    margin: 0 auto;
  }
  .ilustractive img {
    max-width: 100%;
    display: block;
    text-align: center;
    margin: 20px auto;
    margin-bottom: 100px;
  }
  .ilustractive .seta-lateral {
    -ms-transform: translate(0%) rotate(-270deg);
    transform: translate(0%) rotate(-270deg);
    top: 74%;
    left: 0;
  }
  .como-funciona .about-slider img {
    width: 100%;
    padding: 20px 0;
  }
  .como-funciona .about-slider .aboutus-screen-slide {
    margin-top: 12px;
    margin-left: 38px;
    width: 72%;
  }
  .como-funciona .about-slider .aboutus-screen-slide .item {
    width: 100%;
  }
  .como-funciona .about-slider .aboutus-screen-slide .item img {
    margin-top: 0;
    margin-left: 0;
    width: 90%;
    position: relative;
    z-index: 250;
    min-height: 170px !important;
  }
  .como-funciona .about-slider .aboutus-screen-slide .owl-nav {
    display: block;
  }
  .como-funciona .about-slider .aboutus-screen-slide .owl-nav .next-slide {
    right: -30px;
  }
  .como-funciona .about-slider .aboutus-screen-slide .owl-nav .prev-slide {
    left: -50px;
  }
  .faq-area .card-body {
    background: #fff !important;
  }
  .faq-area-internal .card-body {
    background: #fff !important;
  }
  .faq-area-show-mobile, .content-area-show-mobile {
    display: block;
  }
  .faq-area-show-mobile select, .content-area-show-mobile select {
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: transparent;
    padding: 5px;
    width: 100%;
    margin: 10px 0;
    height: 57px;
  }
  .faq-area-show-mobile .box-calculation, .content-area-show-mobile .box-calculation {
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    max-width: 100%;
    margin-top: 20px;
    padding: 15px 20px;
    min-height: 222px;
    transition: .4s;
  }
  .faq-area-show-mobile .box-calculation h4, .content-area-show-mobile .box-calculation h4 {
    color: #3b9baa;
    border-bottom: 1px solid #b9b9b9;
    margin-bottom: 15px;
  }
  .content-area-show-mobile .card-body {
    background: #fff !important;
  }
  .content-area-show-mobile .card-body img {
    margin-bottom: 10px;
  }
  .content-area-show-mobile .btn-content-center {
    text-align: center;
  }
  .content-area-show-mobile .btn-orange {
    position: static;
    -ms-transform: none;
    transform: none;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .section-hide {
    display: none;
  }
  .grid-section {
    display: inline !important;
  }
  .who-we-are {
    padding-bottom: 20px;
  }
  .single-who-we-are {
    padding: 35px 20px;
  }
  .how-work {
    padding-bottom: 20px;
  }
  .tabset > label {
    display: block;
    padding: 15px 20px;
    margin-right: 0;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  .shorting-menu {
    display: block;
    box-shadow: unset;
    padding: 0;
    border-radius: 0;
  }
  .shorting {
    margin-top: 25px;
  }
  .price-area {
    padding-bottom: 20px;
  }
  .price-area .section-title h2 {
    line-height: 1.3;
    display: inline-block;
    margin-top: -5px;
  }
  .pricingTable {
    margin-bottom: 30px;
  }
  .faq-area .section-title h2 {
    line-height: 1.3;
    display: inline-block;
    margin-top: -5px;
  }
  .card-header a:hover {
    border-radius: 6px;
  }
  .card-header a h5 {
    font-size: 16px;
    border-radius: 6px;
  }
  .card-header i {
    display: none;
  }
  .faq-area .image {
    display: none;
  }
  .testimonials-area {
    padding-bottom: 20px;
  }
  .testimonials-area .section-title h2 {
    display: inline-block;
    line-height: 1.3;
    margin-top: -5px;
  }
  .single-feedback {
    margin-top: 50px;
  }
  .single-feedback .client-title {
    margin-top: 15px;
  }
  .single-feedback .client-title h4 {
    font-size: 18px;
  }
  .single-feedback span {
    font-size: 100px;
    right: 15px;
  }
  .subscribe-area {
    text-align: left;
  }
  .newsletter {
    padding: 35px 20px;
  }
  .newsletter h4 {
    margin-bottom: 25px;
    font-size: 24px;
  }
  .newsletter form .form-control {
    height: 60px;
    border-radius: 30px;
    padding-left: 15px;
    font-size: 16px;
  }
  .newsletter form .btn {
    margin-top: 0;
    height: 50px;
  }
  .newsletter form .btn-primary:hover, .newsletter form .btn-primary:focus {
    background: #3b9baa !important;
  }
  .page-title {
    height: 410px;
  }
  .page-title h1 {
    margin-bottom: 25px;
    font-size: 35px;
    margin-top: 30px;
  }
  .page-title ul li {
    font-size: 15px;
  }
  .legal-items-area .container .section-title h2 {
    font-size: 25px;
  }
  .legal-items-area .container .single-box {
    min-height: 290px;
    margin-top: 20px;
  }
  .services-included-area .container .col-left {
    width: 100%;
    text-align: left;
  }
  .services-included-area .container .bg-services {
    width: 100%;
  }
  .services-included-area .container .col-right {
    width: 100%;
  }
  .price-area-internal .pricingTableInternal {
    min-height: 534px !important;
  }
  .price-area-internal .pricingTableInternal .title {
    height: auto !important;
    font-size: 20px !important;
    max-width: 100% !important;
  }
  .price-area-internal .pricingTableInternal .tit-small {
    font-size: 50px !important;
  }
  .price-area-internal .pricing-content-internal {
    padding-left: 15px;
    margin-bottom: 0 !important;
  }
  .price-area-internal .pricing-content-internal .list-opacity {
    display: none;
  }
  .price-area-internal .price-value-internal .amount {
    font-size: 50px !important;
  }
  .image {
    display: none !important;
  }
}

@media only screen and (min-width: 1400px) {
  .main-banner {
    height: 950px;
  }
}

@media only screen and (min-width: 667px) and (max-width: 768px) {
  .single-work img {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .site-navbar .text-white .logo-block {
    max-width: 160px;
  }
  .site-navbar .text-white .btn-fixed {
    display: none;
  }
  .site-navbar .btn-fixed {
    display: none;
  }
  .site-mobile-menu .site-mobile-menu-body .site-nav-wrap li img {
    display: none;
  }
  .site-mobile-menu .site-mobile-menu-body .site-nav-wrap li .description {
    display: none;
  }
  .section-hide {
    display: none;
  }
  .image {
    display: none;
  }
  .option-area .itens-options {
    height: auto;
  }
  .option-area .grid-section {
    display: inline !important;
  }
  .accounting-area .container .q_image_with_text_over {
    position: static !important;
  }
  .owl-theme .owl-nav [class*="owl-"] {
    left: 0;
  }
  .owl-theme .owl-nav .owl-next {
    left: auto;
    right: 40px;
  }
  .main-banner {
    min-height: 600px;
    background-position: 0 0;
    background-size: initial !important;
  }
  .main-banner .main-banner-text-internal .title_internal {
    margin-bottom: 0;
    font-size: 30px;
  }
  .creative-banner-two::before, .creative-banner-two::after {
    border-top: 100px solid transparent;
  }
  .creative-banner-three::before {
    height: 60px;
    background-size: cover;
    bottom: 0;
  }
  .main-banner-text h1 {
    font-size: 48px;
  }
  .welcome-area {
    padding-bottom: 50px;
  }
  .single-box {
    margin-bottom: 30px;
  }
  .about-video, .skill-video {
    margin-top: 40px;
  }
  .about-video img, .skill-video img {
    width: 100%;
  }
  .funFacts-area {
    padding-bottom: 50px;
  }
  .funFact {
    margin-bottom: 30px;
  }
  .how-work {
    padding-bottom: 50px;
  }
  .single-how-work {
    margin-bottom: 30px;
  }
  .tabset > label {
    padding: 14px 15px;
    margin-right: 2px;
    font-size: 16px;
  }
  .why-we-different-img {
    margin-top: 58px;
  }
  .shorting-menu {
    display: block;
    padding: 15px 15px;
  }
  .price-area {
    padding-bottom: 50px;
  }
  .pricingTable {
    margin-bottom: 30px;
  }
  .faq-area .image {
    display: none;
  }
  .contact-form {
    margin-top: 40px;
  }
  .page-title {
    height: 430px;
  }
  .page-title h1 {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1920px) {
  .faq-area-hide-desk, .content-area-hide-desk {
    display: none;
  }
  .btn-fixed {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-banner-text-internal .title_internal {
    font-size: 30px;
  }
  .about-addax .pull-left {
    margin-right: 35px;
  }
  .itens-description section {
    min-width: 280px;
  }
  .ilustractive img {
    max-width: 220px;
  }
  .ilustractive .seta-lateral {
    top: 50px;
  }
  .como-funciona .about-slider .aboutus-screen-slide {
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
  .presentation-area .container .single-box {
    min-height: 280px;
  }
  .single-who-we-are {
    padding: 35px 30px;
  }
  .about-skill .section-title {
    margin-bottom: 40px;
  }
  .skill-video {
    margin-top: 60px;
  }
  .single-feedback {
    padding: 30px 25px;
  }
  .single-feedback .client-title h5 {
    margin-top: 9px;
  }
  #map {
    height: 383px;
  }
}

/*
  ==============================
  Accounting Area CSS
  ==============================
  */
.accounting-area {
  background: #fff;
  width: 100%;
}

.accounting-area .container .col-lg-6 {
  padding-left: 0;
  max-width: 100%;
}

.accounting-area .container .accounting-jacalculei .section-title {
  margin-bottom: 20px;
  padding-left: 0;
  top: 50px;
}

.accounting-area .container .accounting-jacalculei .section-title::before, .accounting-area .container .accounting-jacalculei .section-title::after {
  display: none;
}

.accounting-area .container .accounting-jacalculei .section-title h2 {
  font-size: 25px;
}

.accounting-area .container .accounting-jacalculei ul {
  margin-bottom: 30px;
}

.accounting-area .container .accounting-jacalculei ul li {
  margin-bottom: 10px;
  font-weight: 300;
  color: #666;
}

.accounting-area .container .accounting-jacalculei ul li i {
  color: #3b9baa;
  margin-right: 5px;
}

.accounting-area .container .accounting-jacalculei ul li:last-child {
  margin-bottom: 0;
}

.accounting-area .container .accounting-jacalculei .pull-left {
  margin-right: 45px;
}

.accounting-area .container .accounting-jacalculei .q_image_with_text_over .shader, .accounting-area .container .accounting-jacalculei .q_image_with_text_over .shader_hover {
  z-index: 20;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.accounting-area .container .q_image_with_text_over {
  display: block;
  position: absolute;
  overflow: auto;
}

.accounting-area .container .q_image_with_text_over:hover img {
  background-color: rgba(0, 0, 0, 0.5);
  -ms-transform: scale(1.05) rotate(0.01deg);
  transform: scale(1.05) rotate(0.01deg);
}

.accounting-area .container .q_image_with_text_over img {
  transition: transform .2s ease-out;
  -webkit-backface-visibility: hidden;
}

.accounting-area .container .q_image_with_text_over .shader {
  transition: opacity .4s ease-in-out;
}

.accounting-area .container .q_image_with_text_over .position_relative {
  font-size: 30px;
  position: absolute;
  top: 47%;
  left: 37%;
  z-index: 250;
  color: #fff;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  letter-spacing: 3px;
}

.accounting-area .container .q_image_with_text_over .position_relative span {
  position: relative;
  left: 95px;
}

.accounting-area .container .q_image_with_text_over::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 33;
  opacity: 0;
  transition: opacity .3s ease-out;
}

.accounting-area .container .q_image_with_text_over:hover:after {
  opacity: 1;
}

.accounting-area .container .accounting-video {
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
}

.accounting-area .container .accounting-video .video-btn {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 250;
}

.accounting-area .container .accounting-video .video-btn a {
  color: #fff;
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 72px;
  background: #3b9baa;
  position: relative;
  font-size: 30px;
  border-radius: 50%;
}

.accounting-area .container .accounting-video .video-btn a::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  transition: all 200ms;
  animation: pulse-border 1500ms ease-out infinite;
  border: 10px solid #fff;
}

.accounting-area .container .accounting-video .video-btn a::after {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  transition: all 200ms;
  animation: pulse-border 1500ms ease-out infinite;
  border: 10px solid #fff;
  width: 70px;
  height: 70px;
  transition: all 200ms;
}

.accounting-area .container .accounting-video .video-btn i {
  margin-top: 20px;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.2);
    opacity: 0;
  }
}

/*
  ==============================
  Pricing Area CSS
  ==============================
  */
.price-area {
  background: #f6f6f6;
  position: relative;
}

.price-area .pricingTable {
  text-align: center;
  position: relative;
  padding-bottom: 25px;
  background: #fff;
  border-radius: 4px;
  background-position: center center;
  box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
  transition: .4s;
}

.price-area .pricingTable:hover {
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

.price-area .pricingTable::after {
  content: "";
  width: 70px;
  height: 30px;
  background: #3b9baa;
  margin: 0 auto;
  position: absolute;
  top: 110px;
  left: 0;
  width: 332px;
  right: 0;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.price-area .pricingTable .title {
  padding: 20px 0;
  margin-bottom: 35px;
  background: #3b9baa;
  font-size: 25px;
  color: #fff;
  line-height: 35px;
  text-transform: uppercase;
  border-radius: 4px;
}

.price-area .pricingTable .title span {
  display: block;
  font-weight: 700;
  font-size: 30px;
}

.price-area .pricingTable .price-value {
  margin-bottom: 25px;
  color: #3b9baa;
  padding-top: 20px;
}

.price-area .pricingTable .currency {
  display: inline-block;
  font-size: 25px;
  vertical-align: top;
  margin-top: 6px;
}

.price-area .pricingTable .btn {
  background: #ffa500;
  border: #ffa500;
}

.price-area .pricingTable .btn:hover {
  background: #fff;
  border: 1px solid #ffa500 !important;
  color: #ffa500;
}

.price-area .price-value .amount {
  display: inline-block;
  font-size: 44px;
  font-weight: 500;
}

.price-area .price-value .month {
  display: block;
  font-size: 15px;
  line-height: 16px;
  color: #666;
}

.price-area .pricingTable .pricing-content {
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
}

.price-area .pricingTable .pricing-content li {
  color: #8b8b8b;
  margin-top: 16px;
}

.price-area .pricingTable .pricing-content li:first-child {
  margin-top: 0;
}

.price-area .pricingTable .pricing-content li i {
  color: #3b9baa;
  margin-right: 4px;
}

.price-area .pricingTable .pricing-content li:last-child {
  opacity: 0;
}

/*
  ==============================
  Pricing Area Internal CSS
  ==============================
  */
.price-area-internal {
  background: #ffffff;
}

.price-area-internal .pricingTableInternal {
  text-align: center;
  position: relative;
  padding-bottom: 25px;
  background: #f6f6f6;
  min-height: 630px;
  border-radius: 4px;
  background-position: center center;
  box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
  transition: .4s;
}

.price-area-internal .pricingTableInternal:hover {
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

.price-area-internal .pricingTableInternal .title {
  background: #3b9baa;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  top: -25px;
  height: 90px;
  padding: 30px;
  box-shadow: 1px 1.732px 8px 0px rgba(0, 0, 0, 0.153);
}

.price-area-internal .pricingTableInternal .title span {
  font-weight: 700;
  color: #ffa500;
  font-size: 20px;
  display: block;
  line-height: 34px;
}

.price-area-internal .pricingTableInternal h4 {
  color: #3b9baa;
}

.price-area-internal .pricingTableInternal .tit-small {
  color: #3b9baa;
  font-size: 32px;
  display: block;
  font-weight: 700;
  margin-top: 14px;
}

.price-area-internal .pricingTableInternal .price-value {
  margin-bottom: 25px;
  color: #3b9baa;
}

.price-area-internal .pricingTableInternal .currency {
  display: inline-block;
  font-size: 25px;
  vertical-align: top;
  margin-top: 6px;
  color: #3b9baa;
  font-weight: 700;
}

.price-area-internal .pricingTableInternal .btn {
  background: #ffa500;
  border: #ffa500;
  color: #fff;
  margin-bottom: 20px;
}

.price-area-internal .pricingTableInternal .btn:hover {
  background: #fff;
  border: 1px solid #ffa500 !important;
  color: #ffa500;
}

.price-area-internal .price-value-internal .amount {
  display: inline-block;
  font-size: 60px;
  color: #3b9baa;
  font-weight: 700;
}

.price-area-internal .price-value-internal .month {
  display: inline-block;
  font-size: 15px;
  line-height: 16px;
  text-transform: capitalize;
  color: #3b9baa;
}

.price-area-internal .pricing-content-internal {
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
}

.price-area-internal .pricing-content-internal li {
  color: #8b8b8b;
  margin-top: 16px;
}

.price-area-internal .pricing-content-internal li:first-child {
  margin-top: 0;
}

.price-area-internal .pricing-content-internal li i {
  color: #3b9baa;
  margin-right: 4px;
}

.price-area-internal .pricing-content-internal li h5 {
  color: #3b9baa;
}

.price-area-internal .pricing-content-internal li strong {
  color: #3b9baa;
  font-weight: 300;
}

.price-area-internal .pricing-content-internal .list-opacity {
  opacity: 0;
}

.footer-top strong {
  color: #3b9baa;
}

/*
  ==============================
  Footer Area CSS
  ==============================
  */
.footer-area {
  text-align: left;
  padding: 50px 0 0 14px;
  background: #222222;
}

.footer-area .row-relative {
  border-bottom: 1px solid #fff;
}

.footer-area .row-relative .col-lg-6 {
  padding-left: 0;
}

.footer-area .row-relative .nav-info ul {
  padding: 0;
}

.footer-area .row-relative .logo-footer {
  margin-bottom: 27px;
  display: block;
}

.footer-area .row-relative h4 {
  line-height: 22px;
  margin-bottom: 30px;
  color: #fff;
}

.footer-area .row-relative h4 span {
  color: #3b9baa;
  font-size: 40px;
  font-weight: 700;
  text-transform: lowercase;
}

.footer-area .row-relative strong {
  color: #3b9baa;
  display: block;
}

.footer-area .row-relative .col-lg-2 {
  padding-left: 0;
}

.footer-area .row-relative .col-lg-4 {
  padding-left: 0;
}

.footer-area .row-relative ul li {
  display: inline-block;
}

.footer-area .row-relative ul li a {
  color: #fff;
  line-height: 30px;
}

.footer-area .row-relative ul li a:hover {
  text-decoration: none;
}

.footer-area .row-relative p {
  color: #fff;
  font-size: 15px;
}

.footer-area .row-relative .social {
  padding: 0;
}

.footer-area .row-relative .social li a {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 34px;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
}

.footer-area .row-relative .social li a:hover, .footer-area .row-relative .social li a:focus {
  background: #3b9baa;
  color: #fff;
  border-color: #3b9baa;
}

.footer-area .footer-copy p {
  margin-top: 30px;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}

/*
  ==============================
  Go Top CSS
  ==============================
  */
.go-top {
  position: fixed;
  cursor: pointer;
  bottom: 30px;
  right: 20px;
  font-size: 25px;
  color: #fff;
  background-color: #000;
  z-index: 1;
  display: none;
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 39px;
  border-radius: 50%;
  transition: .4s;
}

.go-top:hover {
  color: #fff;
  background: #3b9baa;
}

.go-top i {
  text-align: center;
  line-height: 40px;
}

/*# sourceMappingURL=style.css.map */
